/* orden de los iconos del footer */
.footer {
	padding: 50px;
	background-color: $colorNegro;
	height: 150px;
	margin-top: 50px;
    min-height: 100%;
    min-width: 100%;
}
.linkFooter {
	text-decoration: none;
	border: white 5px solid;
	border-radius: 40px;
	background-color: white;
	&:hover {
		transform: scale($escalar);
	}
}
.redesSociales {
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;}

.imgRedSocial {
        width: 40px;
        margin: 15px;}

